/* --------------- BEGIN zEditor -------------------- */
#ze-editor *:not(textarea) {
    -moz-user-select: none;
    -webkit-user-select: none;
}

#ze-editor {
    background: linear-gradient(#F5F5F5, #CFD1CF);
    border: 1px solid #B6B6B6;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    font-family: Verdana;
    font-size: 12px;
    margin: 20px auto;
    padding: 5px 10px;
    width: 75%;
    line-height: 1.3em;
    position: relative;
}

#editor-top {
    height: 38px;
    display: inline-block;
    position: relative;
    transition: 1s;
    margin-top: 4px;
    width: 100%;
}

#outer-preview {
    position: relative;
    height: 200px;
    width: 100%;
}

#editor-mode, #editor-post-button {
    display: inline-block;
}

#editor-mode {
    float: right;
}

#ze-preview {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    height: 100%;
    overflow: auto;
    padding: 0 4px;
    position: absolute;
    width: calc(100% - 8px);
    z-index: 9;
    display: none;
}

#editor-post-tool {
    margin-top: 10px;
}

#editor-textarea {
    border: 1px solid #B6B6B6;
    height: 100%;
    position: relative;
    resize: none;
    width: 100%;
    padding: 0 !important;
}

.editor-button {
    margin-top: 1px;
    display: block;
}

.pbutton {
    cursor: pointer;
}

.ze-popups {
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    max-height: 135px;
    max-width: 500px;
    padding: 5px;
    position: absolute;
    z-index: 999;
}

.ze-popups:not(#ze-subject):not(#ze-mode) {
    top: 60px;
}

#ze-smiley {
    overflow: auto;
    width: 300px;
}

#ze-subject, #ze-mode {
    bottom: 60px;
}

#ze-color-info {
    margin-top: 10px;
}

#ze-color-inner div {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.ze-color-input, .editor-button-confirm {
    background: 0 0 #F3F3F3;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    color: #B8B8B8;
    font-size: 12px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    width: 60px;
    float: left;
    text-transform: uppercase;
}

.editor-button-confirm {
    float: right;
    text-align: center;
    color: #000;
    cursor: pointer;
}

.ze-color-input input {
    border: medium none;
    color: #555555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    outline: medium none;
    text-align: right;
    width: 43px;
    right: 0;
    position: absolute;
    padding: 0 !important;
}

.ze-color-input div {
    background: #EFEFEF;
    border-right: 1px solid #BDBDBD;
    color: #777777;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding-left: 4px;
    position: absolute;
    width: 12px;
    left: 0;
}

.editor-button-outer, #editor-post-button span, #editor-mode span {
    background: linear-gradient(#FFFFFF, #E4E4E4);
    border: 1px solid #A6A6A6;
    border-radius: 4px;
    box-shadow: 0 10px 15px #FFFFFF inset;
    color: #504F4F !important;
    cursor: pointer;
    display: block;
    float: left;
    margin: 4px;
    padding: 4px;
    text-shadow: 0 2px 0 #E9E9E9;
}

.editor-button-outer:hover, #editor-post-button span:hover {
    background: -moz-linear-gradient(center top , #F2F2F2, #CCCCCC) repeat scroll 0 0 #CCCCCC;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3) inset;
}

#editor-loading {
    background: #DCE1DE;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: bold;
    left: 50%;
    margin-left: -40px;
    margin-top: 50px;
    padding: 5px 15px;
    position: absolute;
    text-align: center;
    text-shadow: -1px -1px 0 #B6B6B6, 1px -1px 0 #B6B6B6, -1px 1px 0 #B6B6B6, 1px 1px 0 #B6B6B6;
    z-index: 10;
    border: 1px solid #B6B6B6;
}

.ze-avatar span {
    display: none;
    padding: 4px;
    margin-left: 8px;
}

.ze-avatar:hover span {
    display: inline;
    position: absolute;
    border: 1px solid #cccccc;
    background: #fff;
}

.ze-avatar img {
    width: 80px;
    height: 80px;
}
<<<<<<< HEAD

#ze-imgur-placeholder {
    visibility: collapse;
    width: 0px;
}

#ze-imgur-input {
    width: 350px;
    height: 18px;
}

#ze-imgur-images {
    overflow: auto;
    max-height: 110px;
    margin-top: 5px;
}

#ze-imgur-images a {
    float: left;
    width: 20%;
    border: 1px solid #BDBDBD;
    margin: 5px;
}

#ze-imgur-images a img {
    width: 100%;
    height: inherit;
}
/* --------------- END zEditor -------------------- */